<html>
    <head>
        <title>My app</title>
        <link href="./CSS/style.css" rel="stylesheet"/>
    </head>  
    <body>
        <h1>Welcome to my app Home page </h1>
        <a href="home" >Home</a><br>
        <a href="about" >About</a><br>
        <a href="contact" >Contact</a><br>
        <a href="register" >Register</a><br>
        <a href="login" >Login</a><br>

        <img src="img\wallpaperflare.com_wallpaper (12).jpg" height="500" width="900"/>    
    </body>
    </html>