<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Welcome to the Home Page</h1>
    <img src="images/20240323_104555.jpg" alt="Logo" style="width: 150px; height: auto;">
    <nav>
        <a href="/contact">Contact Us</a>
        <a href="/login">Login</a>
        <a href="/register">Register</a>
        <a href="/services">Services</a>
    </nav>
</body>
</html>